.btn-box{
    width: 100%;
    position: relative;
    top: 15px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 5px);
    grid-gap: 1px;
    margin-bottom: 50px;
}
.check-btn{
    border: 1px solid #e6ecf0;
    background-color: transparent;
    border-radius:22px;
    height: 44px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-right: 10px;
    color: inherit;
}
.check-btn p{
    margin: 0 5px;
}
.btn-circle{
    position: absolute;
    border: 13px solid;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 0;
    width: 0;
    background-color: transparent;
}
.btn-circle-wrapper{
    background-color: transparent;
    width: 26px;
    height: 26px;
    position: relative;
    left: 2px;
    margin-right: 10px;
}
.btn-circle-wrapper:before {
    content: '';
    display: block;
    width: 4px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
    z-index: 10;
}
button:focus {
    outline:0;
}

.animate{
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    border: 15px solid #aed0e7;
    position: absolute;
    opacity: 0;
    z-index: 100;
}
.clicked{
    -webkit-animation: 0.7s circles forwards;
    animation: 0.7s circles forwards;
}
@-webkit-keyframes circles {
    from{
        opacity: 0.7;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to{
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes circles {
    from{
        opacity: 0.7;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to{
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
