.mode-switch{
    font-size: 25px;
    color: #108be3;
    position: fixed;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100px;
    bottom: 0;
    border: none;
    z-index: 2000;
    border-top: 1px solid #108be3;
    outline: none;
}
