#canvas{
    border: 2px solid #aed0e7;
}
.marker{
    width:calc(100% - 16px);
    height:50px;
    position: absolute;
    top: 1px;
    border: 2px solid #aed0e7;
    border-right-width: 8px;
    border-left-width: 8px;
    background-color: transparent;
    opacity: 0.5;
    z-index: 4;
}
#bg-preview-active{
    background-color: #fff;
    position: absolute;
    width:300px;
    height: 50px;
    top: 0;
    z-index: -1;
}
#bg-preview{
    background-color: #f5f9fb;
    position: absolute;
    width:300px;
    height: 50px;
    top: 0;
    left: 0;
    z-index: -2;
}
#preview{
    z-index: 50;
}
.preview-wrap{
    top: 50px;
    width: 300px;
    position: relative;
}
.container{
    position: absolute;
    left: calc(50% - 150px);
    top: 0;
    width: 300px;
}
#dragCircle{
    position: absolute;
    width: 0;
    height: 0;
    transform: translateY(35px) translateX(35px);
    top: -7px;
    background-color: #aed0e7;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 3;
    transition: width 0.3s, height 0.3s, transform 0.3s;
}

